@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');
@import '../../_setting.scss';


.navbar-app{
    background-color: $appbar-bg-color;
    font-size: 1.5rem;
    padding-left: $gap;
    display: flex;
    align-items: center;
  }