@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');
@import './_setting.scss';

$column-header-height: 36px;
$column-footer-height:36px;
$column-border-radius: 5px; 
$card-border-radius: 4px;
$board-bg-color: #0079bf;
$appbar-bg-color: #0067a3;
$list-bg-clor: #a4afda;
$gap: 10px;
$gap-5: 5px;


body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
  
}

// ------ Scroll bar styles -----
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-vertical {
  width:11px;
}

::-webkit-scrollbar-thumb {
  border-radius: 21px;
  background-color: darken($color: $list-bg-clor, $amount: 15)
}

::-webkit-scrollbar-track {
  border-radius: 21px;
  background-color: transparent;
}

.trello-wrapper{
  height:100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  background-color: $board-bg-color;

  }
  