@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');

$column-header-height: 36px;
$column-footer-height:36px;
$column-border-radius: 5px; 
$card-border-radius: 4px;
$board-bg-color: #0079bf;
$appbar-bg-color: #0067a3;
$list-bg-clor: #ebecf0;
$gap: 10px;
$gap-5: 5px;



body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
  
}

// ------ Scroll bar styles -----
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-vertical {
  width:11px;
}

::-webkit-scrollbar-thumb {
  border-radius: 21px;
  background-color: darken($color: $list-bg-clor, $amount: 15)
}

::-webkit-scrollbar-track {
  border-radius: 21px;
  background-color: transparent;
}

.trello-wrapper{
  height:100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  background-color: $board-bg-color;
  
  .navbar{
    padding-left: $gap;
    display: flex;
    align-items: center;
    &.app{
      background-color: $appbar-bg-color;
      font-size: 1.5rem;
    }

    &.board{
      background-color: $board-bg-color;
      font-size: 1.1rem;
    }
  }

  .board-columns{
  display:flex;
  overflow-x: auto;
  margin: 0 $gap-5 $gap-5;
  padding-bottom: $gap-5;

    .column {
      flex: 0 0 auto;
      width:300px;
      &:not(:first-child) {
        margin-left: $gap;
      }    
      height: calc(100%-#{$gap});
      // Code chung cho cac thanh phan trong
      > * {
        background-color: $list-bg-clor;
        color: #333;
        padding: 0 8px;
        }
        header{
          padding-left: 15px;
          height: $column-header-height;
          font-size: 16px;
          font-weight: bold;
          border-top-left-radius: $column-border-radius;
          border-top-right-radius:  $column-border-radius;
        }

        footer{
          padding-left: $gap;
          height: $column-footer-height;
          font-size: 16px;
          font-weight: bold;
          border-bottom-left-radius:  $column-border-radius;
          border-bottom-right-radius:  $column-border-radius;
        }
        ul {
          list-style-type: none;
          margin: 0;
          max-height: calc(100% - #{$column-header-height} - #{$column-footer-height});
          overflow-y: auto;


          

          li {
            background-color: white;
            padding: $gap;
            border-radius: $card-border-radius;
            box-shadow: 0 1px 1px rgba(0 ,0 ,0 , 0.1);
            //Khong phai phan tu li cuoi cung thi moi margin bottom 10px              
            &:not(:last-child) {
              margin-bottom: $gap;
            }             
            img{
              display: block;
              width: calc(100% + 2 * #{$gap});
              margin: -$gap 0 $gap (-$gap);
              border-top-left-radius: $card-border-radius;
              border-top-right-radius:  $card-border-radius;
                
            }
          }
        }
      }
    }
  }
  

